*{
    padding: 0;
    margin: 0;
    position: relative;
}

html, body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.pagina {
    height: 100%;
}

/*-------------------------------------------------------------------------------*/

.p1{
    background-image: url(../img/nenufar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    }
            .rain__drop {
                -webkit-animation-delay: calc(var(--d) * 1s);
                        animation-delay: calc(var(--d) * 1s);
                -webkit-animation-duration: calc(var(--a) * 1s);
                        animation-duration: calc(var(--a) * 1s);
                -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                -webkit-animation-name: drop;
                        animation-name: drop;
                -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                height: 30px;
                left: calc(var(--x) * 1%);
                position: absolute;
                top: calc((var(--y) + 50) * -1px);
                }
                .rain__drop path {
                fill: #a1c6cc;
                opacity: var(--o);
                -webkit-transform: scaleY(calc(var(--s) * 1.5));
                        transform: scaleY(calc(var(--s) * 1.5));
                }
                @-webkit-keyframes drop {
                90% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    -webkit-transform: translateY(100vh);
                            transform: translateY(100vh);
                }
                }
                @keyframes drop {
                90% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    -webkit-transform: translateY(100vh);
                            transform: translateY(100vh);
                }
                }

.p2{
    background: white;
}

.p3{
    background: rgb(158, 195, 164);
}

ul{
    list-style: none;
}


nav{
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(41, 79, 51, 0.734);
    z-index: 100;  
}

nav li{
    margin: 0 20px;
    display:inline-block;
    color: white;
    margin-top: 15px;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 1s;


}

            nav li:after {
                content:"";
                display: block;
                width: 5rem;
                height: 0.1rem;
                background: white;
                position: absolute;
                left: 0rem;
                top: -0.5rem;
                z-index: -5;
                transform: scaleX(0%);
                transform-origin: center;
                transition: all 1s;
            }
            
            
            
            
            nav li:hover:after {
                transform: scaleX(100%);
            }
            
            nav li:before{
                content:"";
                display: block;
                width: 5rem;
                height: 0.1rem;
                background: white;
                position: absolute;
                left: 0rem;
                z-index: -5;
                transform: scaleX(0%);
                transform-origin: center;
                transition: all 1s;
                top: 1.5rem;
            }
            
            nav li:hover:before {
                transform: scaleX(100%);
            }

h1{

    text-align:center;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 250px;
    color: white;

    font-family: "Fleur De Leah", serif;
    font-weight: 500;
    font-style: normal;
    
}


.cont1{
    text-align:center;
    overflow:hidden;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    top: 9rem;
}


.p2 li{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    text-align: center;
    box-shadow: inset 0px 0px 10px rgb(171, 218, 179);
    line-height: 360px;
    margin: 50px;
    font-size: 25px;
    color: rgb(190, 107, 119);
    
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;

    background-size: 100%;
    background-repeat: no-repeat;

}


.p2 .cero{
    background-image:url(../img/nii.png);
}

    .cero:hover{
        animation: inici 3s infinite linear;
    }

    .cero:before{
        content: "Cara";
        width: 100%;
        height: 100%;
        display: block;
    }

    .cero:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }
    

.p2 .uno{
    background-image:url(../img/nc.png);

}

    .uno:hover{
        animation: inici 3s infinite linear;
    }

    .uno:before{
        content: "Calendari";
        width: 100%;
        height: 100%;
        display: block;
    }

    .uno:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }


.p2 .tres{
    background-image:url(../img/nfed.png);
    
}
    .tres:hover{
        animation: inici 3s infinite linear;
    }

    .tres:before{
        content: "Feedly";
        width: 100%;
        height: 100%;
        display: block;
    }

    .tres:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }


.p2 .cuatro{
    background-image:url(../img/n4.png);
}
    .cuatro:hover{
        animation: inici 3s infinite linear;
    }

    .cuatro:before{
        content: "Scacs";
        width: 100%;
        height: 100%;
        display: block;
    }

    .cuatro:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }

.p2 .cinco{
    background-image:url(../img/nw.png);
}
    .cinco:hover{
        animation: inici 3s infinite linear;
    }

    .cinco:before{
        content: "Watchmen";
        width: 100%;
        height: 100%;
        display: block;
    }

    .cinco:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }


.p2 .seis{
    background-image:url(../img/nf.png);
 
}

    .seis:hover{
        animation: inici 3s infinite linear;
    }

    .seis:before{
        content: "Float";
        width: 100%;
        height: 100%;
        display: block;
    }

    .seis:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }

.p2 .siete{
    background-image:url(../img/ne.png);
}
    .siete:hover{
        animation: inici 3s infinite linear;
    }

    .siete:before{
        content: "Ifpagram";
        width: 100%;
        height: 100%;
        display: block;
    }

    .siete:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }


.p2 .ocho{
    background-image:url(../img/npl.png);
}
    .ocho:hover{
        animation: inici 3s infinite linear;
    }

    .ocho:before{
        content: "Piloteta";
        width: 100%;
        height: 100%;
        display: block;
    }

    .ocho:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }


.p2 .nueve{
    background-image:url(../img/ni.png);
}
    .nueve:hover{
        animation: inici 3s infinite linear;
    }

    .nueve:before{
        content: "Photoshop";
        width: 100%;
        height: 100%;
        display: block;
    }

    .nueve:hover:before{
        animation: antiinici 2s infinite linear;
    }

    @keyframes inici{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(360deg)
        }
    }

    @keyframes antiinici{
        0%{
            transform: rotate(360deg)
        }

        100%{
            transform: rotate(0deg)
        }
    }



    

.p3{
    h1{
        font-size: 100px;
        margin: 0 auto;
    }
    .barrita{
        height: 75px;
        background-image: url(../img/senefa.png);

    }

}


.cont2{
    width: 900px;
    top: 350px;
    text-align: center;
    font-size: 0;
    margin:0 auto;

}

.p3 h1{
    top: 350px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.p3 li{
        width: 100px;
        height: 100px;
        background-size: 100%;
        margin:50px;
        top:300px;
        display: inline-block;
        text-align: center;


}

.p3 .mail{
    background-image:url(../img/mail.png);
}

.p3 .insta{
    background-image:url(../img/instalogo.png);     
    background-repeat: no-repeat;
}

.p3 .tiktok{
    background-image:url(../img/tiktok.png);
}



@media screen and (max-width: 1000px){
    nav{
        
        text-align: center;
    }

    h1{
        font-size: 120px;
        color: white
        
    }

    .p1{
        background-size: cover;
    }

    .cont1{
        width: 100%;
        transform: scale(50%);
        transform-origin: 50%;
        width: 1043,085px;
    }

    .p2{
        height: 150%;
    }
    
    .p2 li{
        display: inline-block;
        width: 30vw;
        height: 30vw;
        margin: 30px;
    
    }

    .p3 h1{
        font-size: 80px;
    }

    .p3{
        background-size: cover;
    }

}

@media screen and (max-width: 480px){
    nav{
        text-align: center;
    }
    nav li{
        margin: 1rem 1rem;
        
    }

    h1{
        font-size: 90px;
        color: white
        
    }

    .p1{
        background-size: cover;
    }

    .cont1{
        width: 100%;
        transform: scale(100%);
        transform-origin: 50%;
        top: 20vw;
    }

    .p2{
        height: 140%;
    }

    .p2 li{
        display: inline-block;
        width: 30vw;
        height: 30vw;
        margin: 30px;
        line-height: 200px;
        font-size: 1.5rem;

    
    }

    .p3 h1{
        font-size: 80px;
    }

    .p3{
        background-size: cover;
    }

    .p3 .cont2{
        width: 100%;
        transform: scale(100%);
        transform-origin: 50%;
        top: 3rem;

    }

    .p3 li{
        width: 20vw;
        height: 20vw;
        margin: 20px;
        }



}
