:root{
    --color0:#5B2333;
    --color1:#F7F4F3;
    --color2:#564D4A;
    --color3: #F24333;
    ---colorB:limegreen
}

@font-face {
    font-family: 'VIRUST';
    src: url('../fonts/Virust/VIRUSTRegular.eot');
    src: url('../fonts/Virust/VIRUSTRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Virust/VIRUSTRegular.woff2') format('woff2'),
        url('../fonts/Virust/VIRUSTRegular.woff') format('woff'),
        url('../fonts/Virust/VIRUSTRegular.ttf') format('truetype'),
        url('../fonts/Virust/VIRUSTRegular.svg#VIRUSTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'VIRUST';
    font-weight: normal;
    font-style: normal;
    }

p{
    padding:  1 rem;

}
.progres{
    height: 10px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(---colorB);
    scale: 0 1;
    animation: analitzador linear;
    animation-timeline: scroll();
            -o-animation-timeline: scroll();
        -moz-animation-timeline: scroll();
    -webkit-animation-timeline: scroll();
            animation-timeline: scroll();
    transform-origin: left;
}

@keyframes analitzador{
    to{
        scale: 1 1;
    }
}


@media screen and (max-width: 480px){
    body{
        background: RED;
        background: var(--color1);
    }
    h1{
        font-size: 1rem;
        
    }
    p{
        padding: 1rem;
        background-color: cyan;
        background: var(--color0);
    }
}


@media screen and (min-width: 481px) and (max-width: 1279px){
    body{
        background: yellow;
        background: var(--color2);
        
    }
    h1{
        font-size: 2rem;
    }
    p{
        cursor: zoom-in;
        background: var(--color2);
    }
}




@media screen and (min-width: 1280px){
    body{
        background: orange;
        background: var(--color3)
    }
    h1{
        font-size: 4rem;
        
    }
    p{
        columns: 2;
        background: var(--color3);
    }
}